@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');
  
@font-face {
    font-family: halifax-bold;
    src: url(fonts/Halifax\ W03\ Bold.otf)
}

@font-face {
    font-family: halifax-light;
    src: url(fonts/Halifax\ W03\ Light.otf)
}



/* Header Start */

body {
    background-color: #0a192f;
}

header img {
    height: 70px;
    width: 70px;
    margin-left: 40px;
    margin-top: 20px;
}

.header-container {
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
    margin-right: 40px;
    color: #a8b2d1;
    font-family: "Red Hat Mono";
    font-size: 8px;
}

.header-container h1 {
    margin-right: 20px;
    transition: color 0.3s;
    cursor: pointer;
}

.header-container h1:hover {
    color: #64ffda;
}

.header-number {
    color: #64ffda;
}

/* Header End */

/* Mid Container Start */

.top-container {
    padding-top: 70px;
}

.top-container img {
    width: 90px;
    height: 90px;
    margin-left: 860px;
    margin-top: 200px;
}

.name-is {
    text-align: center;
    margin-top: 150px;
    margin-right: 650px;
    font-family: "Red Hat Mono";
    font-size: 20px;
    color: #64ffda;    
}

.blijonas-text {
    color: #ccd6f6;
    font-size: 80px;
    text-align: center;
    margin-top: -10px;
    margin-right: 520px;
    font-family: halifax-bold;
}

.create-websites {
    color: #8892b0;
    font-size: 80px;
    text-align: center;
    margin-top: -70px;
    margin-right: 200px;
    font-family: halifax-bold;    
}

/* Mid Container End */

/* Line Container Start */

#left-line-img {
    position: fixed;
    bottom: -50px;
    left: 0;
    margin-left: 80px;
}

#right-line-img {
    position: fixed;
    bottom: -50px;
    left: 0;
    margin-left: 1840px;
}

#right-email {
    position: fixed;
    bottom: 220px;
    left: 1545px;
    margin-left: 200px;
    transform: rotate(-270deg);
    font-size: 17px;
    font-family: "Red Hat Mono";
    color: #4D5969;
    transition: color 0.1s, top 0.3s ease; /* Add top transition */
}

#right-email:hover {
    color: #64ffda;
}


#github-img {
    position: fixed;
    bottom: 140px;
    left: 0;
    margin-left: 57px;
    width: 45px;
    height: 45px;
    transition: filter 0.1s ease;
    transition: transform 0.3s ease;
}

#github-img:hover {
    filter: invert(85%) sepia(10%) saturate(2100%) hue-rotate(150deg);
    transform: translateY(-3px);
}

#instagram-img {
    position: fixed;
    bottom: 200px;
    left: 0;
    margin-left: 61px;
    width: 40px;
    height: 40px;
    transition: filter 0.1s ease;
    transition: transform 0.3s ease;
}

#instagram-img:hover {
    filter: invert(85%) sepia(10%) saturate(2100%) hue-rotate(150deg);
    transform: translateY(-3px);
}

#discord-img {
    position: fixed;
    bottom: 260px;
    left: 0;
    margin-left: 61px;
    width: 40px;
    height: 40px;
    transition: filter 0.1s ease;
    transition: transform 0.3s ease;
}

#discord-img:hover {
    filter: invert(85%) sepia(10%) saturate(2500%) hue-rotate(170deg);
    transform: translateY(-3px);
}

/* Line Container End */



/* About-Container Start */

#abt-cont-about {
    display: flex;
    margin-left: 500px;
    margin-top: 400px;
}

#abt-number {
    font-family: "Red Hat Mono";
    font-size: 20px;
    margin-top: 32px;
    color: #64ffda;
    
}

#abt-text {
    font-family: halifax-bold;
    margin-left: 5px;
    color: #ccd6f6;
}

#container-line {
    position: absolute;
    bottom: -385px;
    left: 720px;
    opacity: 30%;
}

#abt-cont-text {
    width: 690px;
    height: 124px;
    margin-left: 500px;
    font-family: halifax-light;
    font-size: 12px;
    color: #8892b0;
    
}

#abt-cont-text img {
    position: absolute;
    width: 300px;
    height: 300px;
    margin-left: 800px;
}


/* About-Container End */