@font-face {
    font-family: Hartwell Alt;
    src: url(Hartwell\ Regular.ttf);
}

.landing-page {
    text-align: center;
}
/* Blijonas */
.landing-page h1{
    color: black;
    font-size: 96px;
    font-family: Hartwell Alt;
    font-weight: 600;
    word-wrap: break-word;
    padding-top: 280px;
    line-height: 5px;
}
/* UI/UX Designer & Developer */
.landing-page h2{
    color: black;
    font-size: 64px;
    font-family: Hartwell Alt;
    font-weight: 600;
    word-wrap: break-word;
    padding-bottom: 50px;
}
/* Scroll Icon */
.landing-page img{
    padding-top: 100px;
    width: 85px; 
    height: 85px;
}

.about-me img{
    padding-top: 100px;
    width: 85px; 
    height: 85px;
}

.about-me h1{
    color: rgba(0, 0, 0, 0.10);
    font-size: 180px;
    font-family: Hartwell Alt;
    font-weight: 600;
    word-wrap: break-word;
    padding-top: 300px;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 3.5s, transform 3.5s;
}

.about-me.active h1 {
    opacity: 1;
    transform: translateX(0);
}

.about-me h2 {
    color: black;
    font-size: 48px;
    font-family: Hartwell Alt;
    font-weight: 400;
    word-wrap: break-word;
    text-align: left;
    position: absolute;
    margin-left: 30%;
    margin-right: 5%;
    top: 132%;
}

.contacts {
    padding-top: 200px;
    padding-bottom: 50px;
}

.contacts h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icons a {
    margin: 0 30px;
}

.contact-icons img {
    width: 50px;
    height: 50px;
}

.discord-widget {
    padding-left: 765px;
    padding-bottom: 50px;
}

